
.resumecontainer {
  width: 80%;
  margin: 20px auto;
  background-color: antiquewhite;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  height: 100px;
  resize: vertical;
}

.resumeheader {
  margin-bottom: 20px;
}

.h1 {
  font-size: 2.5em;
  color:white;
  background-color: #333;
  margin-bottom: 10px;
}

.resumeheader p {
  font-size: 1.2em;
}

/* Section for Education and other details */
.resumesection {
  margin-bottom: 20px;
}

.resumesection h2 {
  font-size: 1.8em;
  color: white;
  background-color: #333;
  margin-bottom: 10px;
}

.resumesection p {
  font-size: 1.2em;
  line-height: 1.5;
}

/* Styling the form */
.form {
  margin-bottom: 30px;
}

/* Input fields */
.input,
.input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
}



.button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: inline-block;
}

.button:hover {
  background-color: #45a049;
}

/* Form input fields and buttons layout */
.form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

